.navbar-nav {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24px;
    margin: 0 1em;
}

body {
    margin: 0px;
    width: 100%;
    padding-top: 100px;
}


.portrait {
    height: 40%;
    width: 40%;
    padding: 25px 0;
    margin-left: 20%;
    padding-top: 4%;
    line-height: 1.25;
    transition: 0.5s;
    position: relative;
    display: inline;
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.main_div {
    background-image: url(background_main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.descript {
    position: relative;
    left: -30px;
    word-wrap: break-word;
    width: 800px;
}

form {
  width: 700px;
  margin: 0px auto;
}

label {
    padding-top: 20px;
}

.inform {
    word-wrap: break-word;
    text-align: left;
    width: 700px;
    padding-top: 50px;
}

.about_div {
    background-image: url(background_about.jpg);
    background-width: 900px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 800px 1400px;

    padding-bottom: 200px;
}

.myProducts-gallery img{
    height: 90px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: .5;
}

.myProducts-gallery img:hover {
    opacity: 1;
}

.myProducts-gallery {
    float: left;
}

.myProducts {
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
}

.image-container img {
    height: 400px;
    transition: transform 1s;
}

.image-container img:hover{
    transform: scale(1.8);
    cursor: zoom-in;
}

.image-container {
    float: right;
    padding: 10px;
}

.serv-main_div {
    position: relative;
    width: 80%;
    left: 240px;
    bottom: 30px;
    padding-bottom: 70px;
}

.sud_pic {
    position: relative;
    left: 250px;
    top: 20px;
    width: 70%;
    height: 70%;
    padding-top: 25px;
}

.some_info {
    position: relative;
    padding-bottom: 200px;
    word-wrap: break-word;

}

.portrait_descript {
    position: relative;
    padding-top: 100px;
    height: 50%;
    width: 50%;
    left: 20%;
}