{% extends 'header.html' %}

{% block content %}
<div align="center" class="about_div">
    <img src="static/img/logotype_big.jpg" alt="ЗДЕСЬ ЛОГОТИП КОМПАНИИ">
    <h4 class="inform">Не секрет, что в условиях современного мира и того потока информации который «потребляет» каждый
        человек ежедневно, очень трудно сориентироваться и сделать правильный выбор относительно обращения в ту
        или иную компанию, оказывающую юридические или консалтинговые услуги. Естественно, каждая из многочисленных компаний,
        рекламирующих свои услуги, старается выглядеть в Ваших глазах самой лучшей и чуть ли не единственной способной Вам помочь
        разрешить все возникшие вопросы, зачастую забывая при этом про совесть, когда дело доходит до цен на их услуги и про давно
        истекшие сроки, в которые обещали «уложиться» при первоначальных договоренностях с Вами.<br><br>Юридическая Компания «Рога и Копыта»
        не относится к «таким» Компаниям. В этом Вы убедитесь в случае обращения к нам с просьбой о консультации или оказании какой
        - либо услуги.<br><br>Основным Нашим принципом является минимизация бюрократии при оказании услуг, что позволяет оказывать услуги
        оперативно, не допуская какого-либо рода проволочек. Вы можете обратиться к нам, оставив заявку (кнопка в верхнем правом углу).
        Если Вам необходимо подготовить документы, не выходя из дома или Вашего офиса, мы готовы это сделать и прислать подготовленные
        документы по электронной почте, освобождая Вас от нахождения в пути и потери времени в пробках города. Наша компания оказывает
        услуги успешным людям, тем, кто дорожит своими нервами, временем и добрым именем.<br> </h4>
    <h3 style='text-align: center;'> <br>Обращайтесь к нам и Вы не пожалеете! </h3>
    <h3> &nbsp; </h3>
    <h3> &nbsp; </h3>
    <a role="button" href="submit" class="btn btn-dark btn-lg">Оставить заявку</a>
</div>
{% endblock %}