{% extends "header.html" %}

{% block content %}
<div align="center">
    <h1 align="center">ГАЛЕРЕЯ ЗАВЕРШЕННЫХ РАБОТ</h1>
    <h4 align="center">Здесь представлены последние решения судов по нашей работе</h4>

    <div class="myProducts">
        <div class="myProducts-gallery">
            <img src="{{url_for('static', filename='img/galery1.jpg')}}"
                alt="click here"
                onclick="myImageFunction(this)">
            <img src="{{url_for('static', filename='img/galery2.jpg')}}"
                alt="click here"
                onclick="myImageFunction(this)">
            <img src="{{url_for('static', filename='img/galery3.jpg')}}"
                alt="click here"
                onclick="myImageFunction(this)">
            <img src="{{url_for('static', filename='img/galery4.jpg')}}"
                alt="click here"
                onclick="myImageFunction(this)">
        </div>

        <div class="image-container">
            <img id="img-Box" src="{{url_for('static', filename='img/galery1.jpg')}}"
                 alt="click here">
        </div>
    </div>

    <script>
        function myImageFunction(productSmallImg) {
            var productFullImg = document.getElementById("img-Box");
            productFullImg.src = productSmallImg.src;
        }
    </script>
    <a href="submit" class="btn btn-primary">Оставить заявку</a>
</div>
{% endblock %}