{% extends "header.html" %}

{% block content %}

<div class="main_div">
    <table id="block-1">
        <tr>
            <td>
                <img class="portrait" src="static/img/portrait.jpg" alt="ЗДЕСЬ ДОЛЖЕН БЫТЬ ПОРТРЕТ">
            </td>
            <td style="position: relative; right: 170px;">
                <h1><strong> Юридическая компания "Рога и Копыта" </strong></h1>
                <h1> &nbsp; </h1>
                <h3 class="descript" align="right"> Многолетний стаж работы, множество выигрышных дел, </h3>
                <h3 class="descript" align="right"> широкий спектр оказываемых услуг, выгодные цены, </h3>
                <h3 class="descript" align="right"> быстрая реакция на вашу заявку - все это про нас! </h3>
                <h1> &nbsp; </h1>
                <h3 class="descript" align="right"><em> Оставьте заявку - ответим в течение 10 минут! </em></h3>
            </td>
        </tr>
    </table>
    <hr>
</div>

<h1> &nbsp; </h1>


<div class="serv-main_div">
    <h2 style="text-align: center;"><strong> КРАТКО ОБ ОКАЗЫВАЕМЫХ УСЛУГАХ </strong></h2>
    <h4>&nbsp;</h4>
    <table>
        <tr>
            <td>
                <h3> Наша компания оказывает услуги: </h3>
                 <h4>&nbsp;</h4>
                 <ul>
                    <li><h4><em>Внесение изменений</em></h4></li>
                    <li><h4><em>Реорганизация ООО</em></h4></li>
                    <li><h4><em>Ликвидация</em></h4></li>
                    <li><h4><em>Регистрация ИП</em></h4></li>
                    <li><h4><em>Регистрация юр. лица</em></h4></li>
                    <li><h4><em>Регистрация ООО</em></h4></li>
                </ul>
                <h4><em> &nbsp; &nbsp; И другие услуги юридического характера</em></h4>
                <h4>&nbsp;</h4>
                <a role="button" href="services" class="btn btn-dark btn-lg">Подробнее об услугах и ценах</a>
            </td>
            <td>
                <img class="sud_pic" src="static/img/sud.png" alt="здесь будет какая-нибудь картинка">
            </td>
        </tr>
    </table>
</div>
<hr>

<div class="some_info">
    <h2 style="position: relative; text-align: center; top: 20px;"><strong>&nbsp;ИНФОРМАЦИЯ О ЮРИСТЕ</strong></h2>
    <table>
        <tr>
            <td>
                <img class="portrait_descript" src="static/img/portrait-descript.png" alt="здесь будет портрет">
            </td>
            <td style="position: relative; word-wrap: break-word; width: 800px; right: 10%; bottom: 25%; text-align: justify;">
                <h3 style="padding-bottom: 30px;">
                    Иванов И.И (1998 г.р.) - профессиональный юрист. <br><br>
                    В послужном списке более тысячи выигранных дел, более сотни судов, всегда заканчивает работу в срок.
                    <br><br> Окажет Вам всестороннюю помощь в деле, проконсультирует по вопросу.
                </h3>
                <a role="button" class="btn btn-dark btn-lg" href="galery"> Посмотреть вердикты судов </a>
                <a role="button" class="btn btn-primary btn-lg" href="submit"> Оставить заявку </a>
            </td>
        </tr>
    </table>
</div>

{% endblock %}