{% extends "header.html" %}

{% block content %}
<div align="center" class="bricks">
    <h2 style="text-align: center; color: white; background-color: red; width: 100%;"><strong> УСЛУГИ </strong></h2>
    <table class="services_table">
        <tr>
            <td><a role="button" href="#making_changes" class="btn btn-primary btn-lg" style="color: white;"> Внесение изменений </a></td>
            <td><a role="button" href="#reorganisation" class="btn btn-primary btn-lg" style="color: white;"> Реорганизация ООО </a></td>
            <td><a role="button" href="#liquidation" class="btn btn-primary btn-lg" style="color: white;"> Ликвидация </a></td>
        </tr>
        <tr>
            <td><a role="button" class="btn btn-primary btn-lg" style="color: white;"> Регистрация ИП </a></td>
            <td><a role="button" class="btn btn-primary btn-lg" style="color: white;"> Регистрация юр. лица </a></td>
            <td><a role="button" class="btn btn-primary btn-lg" style="color: white;"> Регистрация ООО </a></td>
        </tr>
        <tr>
            <td></td>
            <td><a role="button" class="btn btn-dark btn-lg" style="color: white;"> Другое </a></td>
            <td></td>
        </tr>
    </table>

</div>
<hr>

<div id="making_changes">
    <h2><strong> ВНЕСЕНИЕ ИЗМЕНЕНИЙ </strong></h2>
    <br>
    <h4 align="justify"> Изменяются Законы, в предприятии меняются руководители, владельцы или их паспортные данные, изменяется местонахождение предприятия, его наименование и т.д. Чтобы избежать штрафа и заведения административного дела, указанные изменения, а так же любые другие изменения необходимо вносить в учредительные документы Компании и соответственно регистрировать их в налоговой инспекции. <br><br>
         Своевременное внесение изменений в уставные документы обеспечить стабильное развитие Вашего бизнеса, и избавит от возможных штрафов при проверках. <br><br>
         Юридическая Компания «Рога и Копыта» окажет Вам быструю и профессиональную помощь при оказании услуги внесение изменений. <br> <br>
         В зависимости от характера изменений, мы предлагаем следующие услуги: <br><br>
         - консультации при внесении изменений (бесплатно); <br>
         - подготовка необходимых документов (устав, либо сам текст изменений, протоколы, решения, заявление в ИФНС и т.д.) <br>
         - регистрация изменений и получение свидетельства о регистрации изменений; <br>
         - получение выписки из ЕГРЮЛ; <br>
         - уведомление банка, кредиторов (при необходимости); <br> <br>

         Для Вашего сведения приводим основные изменения ООО, ЗАО и ОАО: <br> <br>
         1. смена адреса (местонахождения); <br>
         2. изменения видов деятельности организации; <br>
         3. изменение уставного капитала (как уменьшение, так и увеличение); <br>
         4. изменение состава участников ООО, акционеров ЗАО и ОАО; <br>
         5. изменение названия организации, создание филиалов, смена руководства. <br>
         6. Изменение текста учредительных документов;
    </h4>
</div>
<hr>

<div id="reorganisation">
    <h2><strong> РЕОРГАНИЗАЦИЯ ООО </strong></h2>
    <br>
    <h4 align="justify"> Реорганизация предприятия это <em> один из эффективных способов оптимизировать свое бизнес-дело или начать новый бизнес-проект,</em> причем не с нуля, а солидного плюса. <br><br>
        Можно назвать несколько причин реорганизации предприятия: <br><br>
        - желание сосредоточить управление несколькими предприятиями посредством управления одним предприятием; (слияние, присоединение предприятий);<br>
        - желание выйти на рынок по сделкам с ценными бумагами; (преобразование ЗАО, ОАО в ООО);<br>
        - освобождение от кредиторской задолженности (выделение, разделение предприятий)<br><br>
        <strong>Итак, реорганизация предприятия </strong> может быть осуществлена в форме <strong> слияния, присоединения, разделения, выделения и преобразования. </strong> <br><br>

        <strong> 1. Реорганизация предприятия в форме «Разделение» </strong><br><br>
        <strong> Разделением </strong> общества признается прекращение общества с передачей всех его прав и обязанностей вновь создаваемым обществам. <br><br>
        Перечень услуг при разделении: <br><br> <em>
        - подготовка документов при разделении (протокол общего собрания, новые редакции Уставов созданных обществ);<br>
        - государственная регистрация вновь созданных обществ;<br>
        - постановка на учет в ИФНС и в фондах;<br>
        - открытие расчетных счетов;<br>
        - уведомление кредиторов;<br>
        - подготовка разделительного баланса;<br>
        - подача объявления в СМИ;<br>
        - изготовление печатей.</em> <br><br>

        <strong> 2. Реорганизация предприятия в форме «Выделение» </strong><br><br>
        <strong>Выделением</strong> общества признается создание одного или нескольких обществ с передачей им части прав и обязанностей реорганизуемого общества без прекращения последнего.<br><br>
        Перечень услуг при выделении:<br><br> <em>
        - консультации по реорганизации;<br>
        - подготовка документов ( протокол общего собрания, новые Уставы соответствующих организаций);<br>
        - регистрация вновь созданных обществ;<br>
        - регистрация изменений, внесенных в учредительные документы основной компании;<br>
        - постановка на учет в ИФНС и в фондах;<br>
        - открытие расчетных счетов;<br>
        - уведомление кредиторов;<br>
        - подготовка разделительного баланса;<br>
        - подача объявления в СМИ.</em><br><br>

        <strong>3. Реорганизация предприятия в форме «Слияние» </strong><br><br>
        <strong>Слиянием</strong> обществ признается возникновение нового общества путем передачи ему всех прав и обязанностей двух или нескольких обществ с прекращением последних.<br><br>
        Перечень услуг при слиянии:<br><br> <em>
        - консультации при слиянии;<br>
        - подготовка соответствующих документов (протокол общего собрания с решением о слиянии, новый пакет учредительных документов, проект соглашения о слиянии);<br>
        - государственная регистрация нового общества;<br>
        - постановка на учет в ИФНС и в фондах;<br>
        - извещение кредиторов о реорганизации общества;</em><br><br>

        <strong>4. Реорганизация предприятия в форме «Присоединение» </strong><br><br>
        <strong>Присоединением</strong> общества признается прекращение одного или нескольких обществ с передачей всех их прав и обязанностей другому обществу. <br><br>
        Перечень услуг при присоединении: <br><br> <em>
        - консультации по присоединению; <br>
        - подготовка соответствующих документов (протокол общего собрания по принятию решения о присоединении, новые учредительные документы общества, проект договор о присоединении); <br>
        - государственная регистрация нового общества; <br>
        - постановка на учет в ИФНС и в фондах; <br>
        - извещение кредиторов о присоединении;</em><br><br>

        <strong>5. Реорганизация предприятия в форме «Преобразование»</strong><br><br>
        <strong>Преобразование</strong> – это «превращение» Общества из одной организационно-правовой формы в другую. Например, ООО в ОАО.<br><br>
        Перечень услуг при преобразовании:<br><br> <em>
        - консультации по преобразованию общества; <br>
        - подготовка соответствующих документов (протокол общего собрания по принятию решения о преобразовании, учредительные документы нового общества); <br>
        - государственная регистрация преобразованного общества; <br>
        - постановка на учет общества в ИФНС и в фондах; <br>
        - извещение кредиторов о преобразовании;</em> <br><br>
        <strong>Обладая всеми необходимыми навыками и опытом, юридическая компания «Рога и Копыта» на высоком профессиональном уровне выполнит услугу реорганизация предприятия в самые короткие сроки.</strong>
    </h4>
</div>
<hr>

<div id="liquidation">
    <h2><strong> ЛИКВИДАЦИЯ </strong></h2>
    <br>
    <h4> Юридическая Компания «Рога и Копыта» окажет Вам профессиональную помощь в ликвидации ООО, ЗАО и ОАО. <br><br>
        <strong>1. Официальная ликвидация </strong>
        Стандартный пакет услуг при ликвидации: <br><br><em>
- подготовка решений общего собрания; <br>
- публикация объявления о предстоящей ликвидации; <br>
- подача документов в регистрирующий орган; <br>
- уведомление кредиторов, ИФНС, Госкомстата, фондов, изменение банковских карточек или закрытие счета; <br>
- снятие с учета в ИФНС и фондах; <br>
- получение свидетельства из ЕГРЮЛ; <br>
- уничтожение печати; <br>
- закрытие счета в банке. <br><br></em>
        <strong>2. Смена участников и руководителя организации </strong><br><br>
Стандартный пакет услуг при ликвидации путём смены участников и руководителя: <br><br><em>
- подготовка протокола общего собрания, изменений в учредительные документы; <br>
- подготовка договоров о передаче доли; <br>
- регистрация изменений; <br>
            - уведомление фондов, банка. <br><br></em>
       <strong>Порядок ликвидации Общества </strong><br><br>
1. Ликвидационная комиссия помещает в органах печати, в которых публикуются данные о регистрации юридических лиц, сообщение о ликвидации общества, порядке и сроках для предъявления требований его кредиторами. Срок для предъявления требований кредиторами не может быть менее двух месяцев с даты опубликования сообщения о ликвидации общества. <br><br>
2. В случае, если на момент принятия решения о ликвидации общество не имеет обязательств перед кредиторами, его имущество распределяется между акционерами. <br><br>
3. Ликвидационная комиссия принимает меры к выявлению кредиторов и получению дебиторской задолженности, а также в письменной форме уведомляет кредиторов о ликвидации общества. <br><br>
4. По окончании срока для предъявления требований кредиторами ликвидационная комиссия составляет промежуточный ликвидационный баланс, который содержит сведения о составе имущества ликвидируемого общества, предъявленных кредиторами требованиях, а также результатах их рассмотрения. Промежуточный ликвидационный баланс утверждается общим собранием акционеров. <br><br>
5. Если имеющихся у ликвидируемого общества денежных средств недостаточно для удовлетворения требований кредиторов, ликвидационная комиссия осуществляет продажу иного имущества общества с публичных торгов в порядке, установленном для исполнения судебных решений. <br><br>
6. Выплаты кредиторам ликвидируемого общества денежных сумм производятся ликвидационной комиссией в порядке очередности, установленной Гражданским кодексом Российской Федерации, в соответствии с промежуточным ликвидационным балансом, начиная со дня его утверждения, за исключением кредиторов пятой очереди, выплаты которым производятся по истечении месяца с даты утверждения промежуточного ликвидационного баланса. <br><br>
7. После завершения расчетов с кредиторами ликвидационная комиссия составляет ликвидационный баланс, который утверждается общим собранием акционеров. <br><br>
        <strong>Распределение имущества ликвидируемого общества между акционерами </strong><br><br>
1. Оставшееся после завершения расчетов с кредиторами имущество ликвидируемого общества распределяется ликвидационной комиссией между акционерами в следующей очередности: <br>
в первую очередь осуществляются выплаты по акциям, которые должны быть выкуплены; <br>
во вторую очередь осуществляются выплаты начисленных, но не выплаченных дивидендов по привилегированным акциям и определенной уставом общества ликвидационной стоимости по привилегированным акциям; в третью очередь осуществляется распределение имущества ликвидируемого общества между акционерами - владельцами обыкновенных акций и всех типов привилегированных акций.<br><br>
2. Распределение имущества каждой очереди осуществляется после полного распределения имущества предыдущей очереди. Выплата обществом определенной уставом общества ликвидационной стоимости по привилегированным акциям определенного типа осуществляется после полной выплаты определенной уставом общества ликвидационной стоимости по привилегированным акциям предыдущей очереди. <br>
Если имеющегося у общества имущества недостаточно для выплаты начисленных, но не выплаченных дивидендов и определенной уставом общества ликвидационной стоимости всем акционерам - владельцам привилегированных акций одного типа, то имущество распределяется между акционерами - владельцами этого типа привилегированных акций пропорционально количеству принадлежащих им акций этого типа. <br><br>
        <strong>Завершение ликвидации общества </strong><br><br>
Ликвидация общества считается завершенной, а общество - прекратившим существование с момента внесения органом государственной регистрации соответствующей записи в единый государственный реестр юридических лиц.
    </h4>
</div>
{% endblock %}