{% extends "header.html" %}

{% block content %}
<div align="center" class="bricks">
    <h2 style="text-align: center; color: white; background-color: red; width: 100%;"><strong> УСЛУГИ </strong></h2>
    <table class="services_table">
        <tr>
            <td><a role="button" href="#making_changes" class="btn btn-primary btn-lg" style="color: white;"> Внесение изменений </a></td>
            <td><a role="button" href="#reorganisation" class="btn btn-primary btn-lg" style="color: white;"> Реорганизация ООО </a></td>
            <td><a role="button" href="#liquidation" class="btn btn-primary btn-lg" style="color: white;"> Ликвидация </a></td>
        </tr>
        <tr>
            <td><a role="button" href="#reg_ip" class="btn btn-primary btn-lg" style="color: white;"> Регистрация ИП </a></td>
            <td><a role="button" href="#reg_url" class="btn btn-primary btn-lg" style="color: white;"> Регистрация юр. лица </a></td>
            <td><a role="button" href="#reg_ooo" class="btn btn-primary btn-lg" style="color: white;"> Регистрация ООО </a></td>
        </tr>
        <tr>
            <td></td>
            <td><a role="button" href="#else" class="btn btn-dark btn-lg" style="color: white;"> Другое </a></td>
            <td></td>
        </tr>
    </table>

</div>
<hr>

<div id="making_changes">
    <h2><strong> ВНЕСЕНИЕ ИЗМЕНЕНИЙ </strong></h2>
    <br>
    <h4 align="justify"> Изменяются Законы, в предприятии меняются руководители, владельцы или их паспортные данные, изменяется местонахождение предприятия, его наименование и т.д. Чтобы избежать штрафа и заведения административного дела, указанные изменения, а так же любые другие изменения необходимо вносить в учредительные документы Компании и соответственно регистрировать их в налоговой инспекции. <br><br>
         Своевременное внесение изменений в уставные документы обеспечить стабильное развитие Вашего бизнеса, и избавит от возможных штрафов при проверках. <br><br>
         Юридическая Компания «Рога и Копыта» окажет Вам быструю и профессиональную помощь при оказании услуги внесение изменений. <br> <br>
         В зависимости от характера изменений, мы предлагаем следующие услуги: <br><br>
         - консультации при внесении изменений (бесплатно); <br>
         - подготовка необходимых документов (устав, либо сам текст изменений, протоколы, решения, заявление в ИФНС и т.д.) <br>
         - регистрация изменений и получение свидетельства о регистрации изменений; <br>
         - получение выписки из ЕГРЮЛ; <br>
         - уведомление банка, кредиторов (при необходимости); <br> <br>

         Для Вашего сведения приводим основные изменения ООО, ЗАО и ОАО: <br> <br>
         1. смена адреса (местонахождения); <br>
         2. изменения видов деятельности организации; <br>
         3. изменение уставного капитала (как уменьшение, так и увеличение); <br>
         4. изменение состава участников ООО, акционеров ЗАО и ОАО; <br>
         5. изменение названия организации, создание филиалов, смена руководства. <br>
         6. Изменение текста учредительных документов;
    </h4>
</div>
<hr>

<div id="reorganisation">
    <h2><strong> РЕОРГАНИЗАЦИЯ ООО </strong></h2>
    <br>
    <h4 align="justify"> Реорганизация предприятия это <em> один из эффективных способов оптимизировать свое бизнес-дело или начать новый бизнес-проект,</em> причем не с нуля, а солидного плюса. <br><br>
        Можно назвать несколько причин реорганизации предприятия: <br><br>
        - желание сосредоточить управление несколькими предприятиями посредством управления одним предприятием; (слияние, присоединение предприятий);<br>
        - желание выйти на рынок по сделкам с ценными бумагами; (преобразование ЗАО, ОАО в ООО);<br>
        - освобождение от кредиторской задолженности (выделение, разделение предприятий)<br><br>
        <strong>Итак, реорганизация предприятия </strong> может быть осуществлена в форме <strong> слияния, присоединения, разделения, выделения и преобразования. </strong> <br><br>

        <strong> 1. Реорганизация предприятия в форме «Разделение» </strong><br><br>
        <strong> Разделением </strong> общества признается прекращение общества с передачей всех его прав и обязанностей вновь создаваемым обществам. <br><br>
        Перечень услуг при разделении: <br><br> <em>
        - подготовка документов при разделении (протокол общего собрания, новые редакции Уставов созданных обществ);<br>
        - государственная регистрация вновь созданных обществ;<br>
        - постановка на учет в ИФНС и в фондах;<br>
        - открытие расчетных счетов;<br>
        - уведомление кредиторов;<br>
        - подготовка разделительного баланса;<br>
        - подача объявления в СМИ;<br>
        - изготовление печатей.</em> <br><br>

        <strong> 2. Реорганизация предприятия в форме «Выделение» </strong><br><br>
        <strong>Выделением</strong> общества признается создание одного или нескольких обществ с передачей им части прав и обязанностей реорганизуемого общества без прекращения последнего.<br><br>
        Перечень услуг при выделении:<br><br> <em>
        - консультации по реорганизации;<br>
        - подготовка документов (протокол общего собрания, новые Уставы соответствующих организаций);<br>
        - регистрация вновь созданных обществ;<br>
        - регистрация изменений, внесенных в учредительные документы основной компании;<br>
        - постановка на учет в ИФНС и в фондах;<br>
        - открытие расчетных счетов;<br>
        - уведомление кредиторов;<br>
        - подготовка разделительного баланса;<br>
        - подача объявления в СМИ.</em><br><br>

        <strong>3. Реорганизация предприятия в форме «Слияние» </strong><br><br>
        <strong>Слиянием</strong> обществ признается возникновение нового общества путем передачи ему всех прав и обязанностей двух или нескольких обществ с прекращением последних.<br><br>
        Перечень услуг при слиянии:<br><br> <em>
        - консультации при слиянии;<br>
        - подготовка соответствующих документов (протокол общего собрания с решением о слиянии, новый пакет учредительных документов, проект соглашения о слиянии);<br>
        - государственная регистрация нового общества;<br>
        - постановка на учет в ИФНС и в фондах;<br>
        - извещение кредиторов о реорганизации общества;</em><br><br>

        <strong>4. Реорганизация предприятия в форме «Присоединение» </strong><br><br>
        <strong>Присоединением</strong> общества признается прекращение одного или нескольких обществ с передачей всех их прав и обязанностей другому обществу. <br><br>
        Перечень услуг при присоединении: <br><br> <em>
        - консультации по присоединению; <br>
        - подготовка соответствующих документов (протокол общего собрания по принятию решения о присоединении, новые учредительные документы общества, проект договор о присоединении); <br>
        - государственная регистрация нового общества; <br>
        - постановка на учет в ИФНС и в фондах; <br>
        - извещение кредиторов о присоединении;</em><br><br>

        <strong>5. Реорганизация предприятия в форме «Преобразование»</strong><br><br>
        <strong>Преобразование</strong> – это «превращение» Общества из одной организационно-правовой формы в другую. Например, ООО в ОАО.<br><br>
        Перечень услуг при преобразовании:<br><br> <em>
        - консультации по преобразованию общества; <br>
        - подготовка соответствующих документов (протокол общего собрания по принятию решения о преобразовании, учредительные документы нового общества); <br>
        - государственная регистрация преобразованного общества; <br>
        - постановка на учет общества в ИФНС и в фондах; <br>
        - извещение кредиторов о преобразовании;</em> <br><br>
        <strong>Обладая всеми необходимыми навыками и опытом, юридическая компания «Рога и Копыта» на высоком профессиональном уровне выполнит услугу реорганизация предприятия в самые короткие сроки.</strong>
    </h4>
</div>
<hr>

<div id="liquidation">
    <h2><strong> ЛИКВИДАЦИЯ </strong></h2>
    <br>
    <h4> Юридическая Компания «Рога и Копыта» окажет Вам профессиональную помощь в ликвидации ООО, ЗАО и ОАО. <br><br>
        <strong>1. Официальная ликвидация </strong>
        Стандартный пакет услуг при ликвидации: <br><br><em>
- подготовка решений общего собрания; <br>
- публикация объявления о предстоящей ликвидации; <br>
- подача документов в регистрирующий орган; <br>
- уведомление кредиторов, ИФНС, Госкомстата, фондов, изменение банковских карточек или закрытие счета; <br>
- снятие с учета в ИФНС и фондах; <br>
- получение свидетельства из ЕГРЮЛ; <br>
- уничтожение печати; <br>
- закрытие счета в банке. <br><br></em>
        <strong>2. Смена участников и руководителя организации </strong><br><br>
Стандартный пакет услуг при ликвидации путём смены участников и руководителя: <br><br><em>
- подготовка протокола общего собрания, изменений в учредительные документы; <br>
- подготовка договоров о передаче доли; <br>
- регистрация изменений; <br>
            - уведомление фондов, банка. <br><br></em>
       <strong>Порядок ликвидации Общества </strong><br><br>
1. Ликвидационная комиссия помещает в органах печати, в которых публикуются данные о регистрации юридических лиц, сообщение о ликвидации общества, порядке и сроках для предъявления требований его кредиторами. Срок для предъявления требований кредиторами не может быть менее двух месяцев с даты опубликования сообщения о ликвидации общества. <br><br>
2. В случае, если на момент принятия решения о ликвидации общество не имеет обязательств перед кредиторами, его имущество распределяется между акционерами. <br><br>
3. Ликвидационная комиссия принимает меры к выявлению кредиторов и получению дебиторской задолженности, а также в письменной форме уведомляет кредиторов о ликвидации общества. <br><br>
4. По окончании срока для предъявления требований кредиторами ликвидационная комиссия составляет промежуточный ликвидационный баланс, который содержит сведения о составе имущества ликвидируемого общества, предъявленных кредиторами требованиях, а также результатах их рассмотрения. Промежуточный ликвидационный баланс утверждается общим собранием акционеров. <br><br>
5. Если имеющихся у ликвидируемого общества денежных средств недостаточно для удовлетворения требований кредиторов, ликвидационная комиссия осуществляет продажу иного имущества общества с публичных торгов в порядке, установленном для исполнения судебных решений. <br><br>
6. Выплаты кредиторам ликвидируемого общества денежных сумм производятся ликвидационной комиссией в порядке очередности, установленной Гражданским кодексом Российской Федерации, в соответствии с промежуточным ликвидационным балансом, начиная со дня его утверждения, за исключением кредиторов пятой очереди, выплаты которым производятся по истечении месяца с даты утверждения промежуточного ликвидационного баланса. <br><br>
7. После завершения расчетов с кредиторами ликвидационная комиссия составляет ликвидационный баланс, который утверждается общим собранием акционеров. <br><br>
        <strong>Распределение имущества ликвидируемого общества между акционерами </strong><br><br>
1. Оставшееся после завершения расчетов с кредиторами имущество ликвидируемого общества распределяется ликвидационной комиссией между акционерами в следующей очередности: <br>
в первую очередь осуществляются выплаты по акциям, которые должны быть выкуплены; <br>
во вторую очередь осуществляются выплаты начисленных, но не выплаченных дивидендов по привилегированным акциям и определенной уставом общества ликвидационной стоимости по привилегированным акциям; в третью очередь осуществляется распределение имущества ликвидируемого общества между акционерами - владельцами обыкновенных акций и всех типов привилегированных акций.<br><br>
2. Распределение имущества каждой очереди осуществляется после полного распределения имущества предыдущей очереди. Выплата обществом определенной уставом общества ликвидационной стоимости по привилегированным акциям определенного типа осуществляется после полной выплаты определенной уставом общества ликвидационной стоимости по привилегированным акциям предыдущей очереди. <br>
Если имеющегося у общества имущества недостаточно для выплаты начисленных, но не выплаченных дивидендов и определенной уставом общества ликвидационной стоимости всем акционерам - владельцам привилегированных акций одного типа, то имущество распределяется между акционерами - владельцами этого типа привилегированных акций пропорционально количеству принадлежащих им акций этого типа. <br><br>
        <strong>Завершение ликвидации общества </strong><br><br>
Ликвидация общества считается завершенной, а общество - прекратившим существование с момента внесения органом государственной регистрации соответствующей записи в единый государственный реестр юридических лиц.
    </h4>
</div>
<hr>

<div id="reg_ip">
    <h2><strong> РЕГИСТРАЦИЯ ИП </strong></h2>
    <br>
    <h4>
        Регистрация ИП будет проходить по следующим этапам: <br><br>
        1. Консультирование по вопросам регистрации и определения видов деятельности.<br>
        2. Подготовка документов для услуги: регистрация ИП.<br>
        3. Регистрация ИП и постановка на учет в ИФНС, присвоение кодов Госкомстата (по желанию), постановка на учет в Фонд обязательного медицинского страхования (ФОМС) и в Фонд социального страхования (ФСС), если существуют наемные работники. <br>
        4. Открытие в банке расчетного (валютного) счета и получение уведомления банка о получении ИФНС извещения об открытии расчетного (валютного) счета.<br><br>
        Для оказания услуги регистрации ИП необходимо:<br><br>
        1. копия паспорта<br>
        2. копия свидетельства ИНН (если есть)<br>
        3. копия пенсионного и страхового свидетельства (если есть)<br><br>
        ООО Юридическая Компания «Рога и Копыта» окажет Вам профессиональную помощь в регистрации ИП (от вводной консультации до конечного результата). С целью экономии времени, можно заказать у нас эту услугу не выходя из дома, Вы просто присылаете нам свои данные, а мы готовим для Вас документы (оставьте заявку).<br><br>
        В зависимости от Вашего желания и наличия свободного времени, мы можем оказать услугу: регистрация ИП либо просто путем составления документов, либо путем составления документов и полного сопровождения регистрации ИП.
    </h4>
</div>
<hr>

<div id="reg_url">
    <h2><strong> РЕГИСТРАЦИЯ ЮРИДИЧЕСКОГО ЛИЦА </strong></h2>
    <br>
    <h4>
        Итак, ниже представляем шаги, которые необходимо пройти для того что бы осуществилась регистрация юридического лица:<br><br>
        <strong>1. ВЫБОР ОРГАНИЗАЦИОННО-ПРАВОВОЙ ФОРМЫ</strong><br><br>
        Итак, после того как Вы определились с видом деятельности (предпринимательская) или иная не преследующая извлечения доходов Вам необходимо определить какую форму для своей будущей Компании Вы выберете и, следовательно, уже решить, каким образом будет осуществляться регистрация юридического лица.<br><br>
        Что касается коммерческих организаций, то безусловным лидером по числу открытых фирм у нас в России является ООО (общество с ограниченной ответственностью).<br><br>
        Простота, наибольшая распространенность, отсутствие установленной законом для других видов коммерческих организаций (ОАО и ЗАО) обязанности выпускать и регистрировать ценные бумаги (акции) всегда подкупали будущих предпринимателей, которые и делали выбор в пользу регистрации ООО.<br><br>
        Что касается ОАО и ЗАО, то данные организационно-правовые формы чаще используются при открытии среднего и крупного бизнеса и имеют свои нюансы, связанные с Управлением, бухгалтерской и иной дополнительной отчетностью, ведением реестра акционеров и т.д.<br><br>
        Что касается некоммерческих организаций: общественных объединениях, фондах, потребительских кооперативов и т.д., то каждая из этих форм имеет свои преимущества и недостатки и используется в зависимости от задач, которые предстоит решить.<br><br>
        <em>Следует отметить, что грамотно выбранная организационно - правовая форма предприятия может дать Вам дополнительные «козыри» для осуществления своих планов по развитию и защите бизнеса.</em><br><br>
        <strong>Индивидуальные предприниматели не являются юридическими лицами и порядок их регистрации см. в других разделах настоящего сайта.</strong><br><br>
        <strong>2. РАЗРАБОТКА ПРОЕКТОВ УЧРЕДИТЕЛЬНЫХ ДОКУМЕНТОВ</strong><br><br>
        К сожалению, до сих пор, среди предпринимателей распространено отношение к учредительным документам как к какой-то формальности. Однако, это очень опасное заблуждение, так как учредительные документы – это основополагающие документы Вашей будущей Компании, определяющие взаимоотношения создателей фирмы между собой и с ее руководством, а также многие не менее важные моменты, от которых будет зависеть успешность Вашего бизнеса.<br><br>
        Формально составленные учредительные документы могут обычно через некоторое время приводят к серьезным конфликтам между партнерами по бизнесу и руководством фирмы.<br><br>
        Учредительные документы подготовленные в Нашей компании максимально защитят интересы руководства фирмы или ее учредителей, уберегут организацию от враждебного поглощения, распространенного сейчас рейдерства, и решат еще множество других задач.<br><br>
        <strong>3. РЕГИСТРАЦИОННЫЕ ПРОЦЕДУРЫ</strong><br><br>
        После того, как Вами принято решение о выборе системы налогообложения и подписаны учредительные документы, остается зарегистрировать юридическое лицо, поставить его на учет в налоговых органах и выполнить ряд других обязательных процедур.<br><br>
        Итак, представляем перечень услуг, оказываемых ООО Юридическая Компания «Рога и Копыта» при регистрации (создании) юридического лица:<br><br><em>
        - разработка учредительных документов;<br>
        - формирование пакета документов, необходимого для процедуры регистрация юридического лица;<br>
        - организация представления в Инспекцию Федеральной налоговой службы (ИФНС), сформированного пакета документов;<br>
        - организация получения свидетельства о внесении записи в Единый государственный реестр юридических лиц о регистрации юридического лица;<br>
        - заказ и получение кодов Госкомстата;<br>
        - организация постановки юридического лица на учет в ИФНС и во внебюджетных фондах;</em><br><br>
        Как дополнительная, предоставляется услуга по изготовлению печати, штампа и формированию пакета документов для открытия расчетного счета в банке и юридическое сопровождение Клиента при открытии расчетного счета;<br><br>
                <strong>Сведения и документы, необходимые для регистрации:</strong><br><br><em>
        - наименование организации;<br>
        - организационно-правовая форма (ООО, ЗАО, ОАО либо некоммерческая организация);<br>
        - адрес;<br>
        - контактный телефон для ИФНС;<br>
        - основные виды деятельности регистрируемой организации;<br>
        - наименование банка для открытия счета.(при желании);<br>
        - сведения об (учредителях, акционерах, пайщиках и т.д.);<br>
        - копии паспортов учредителей, руководителя;<br>
        - адрес регистрации.</em><br><br>
        <strong>Сведения об учредителях, акционерах, пайщиках - юридических лицах:</strong><br><br>
        <em>
        - учредительные документы (устав, учредительный договор, протоколы, решения);<br>
        - свидетельство о постановке на налоговый учет;<br>
        - свидетельство о внесении записи в Единый Государственный Реестр юр.лиц;<br>
        - информационное письмо Госкомстата о присвоении кодов;<br>
        - печать;<br>
        - доверенность.<br><br>
        </em><strong>Сведения об исполнительном органе – директоре, генеральном директоре, президенте и т.д.:</strong><br><br>
        <em>
        - копия паспорта;<br>
        - адрес регистрации
        </em>
    </h4>
</div>
<hr>

<div id="reg_ooo">
    <h2><strong> РЕГИСТРАЦИЯ ООО </strong></h2>
    <br>
    <h4>
        Создание ООО (регистрация ООО) в сегодняшнее время является наиболее востребованной формой организации бизнеса, которую выбирают предприниматели для осуществления своей деятельности.<br><br>
        По общему определению Обществом с ограниченной ответственностью (ООО) признается созданное одним или несколькими лицами хозяйственное общество, уставный капитал которого разделен на доли; участники общества не отвечают по его обязательствам и несут риск убытков, связанных с деятельностью общества, в пределах стоимости принадлежащих им долей в уставном капитале общества.<br><br>
        Учредителями (участниками) ООО могут быть как юридические лица и граждане Российской Федерации, так и иностранные физические и юридические лица.<br><br>
        Максимальное число учредителей (участников) в ООО не должно превышать 50.<br><br>
        Минимальное число учредителей (участников) в ООО – одно лицо, юридическое или физическое.<br><br>
        Уставный капитал ООО должен составлять на сегодняшний день не менее 10 000 рублей. Он определяет минимальный размер имущества ООО, гарантирующего интересы кредиторов.<br><br>
        Уставный капитал регистрируемого ООО формируется из стоимости вкладов его учредителей. Вкладом в Уставный капитал могут быть денежные средства, иное имущество, или неимущественные права, имеющие денежную оценку.<br><br>
        Требования к содержанию и форме Учредительных документов ООО определяются в Федеральном законе «Об обществах с ограниченной ответственностью».<br><br>
        Первичную информацию о том, как осуществляется регистрация ООО можно узнать в законе «О государственной регистрации юридических лиц и индивидуальных предпринимателей» а также, в ряде других нормативно-правовых актов.<br><br>
        Юридическая Компания «ВИСТА» окажет Вам профессиональную помощь в процедуре: регистрация ООО (от первичной консультации и до конечного результата). С целью экономии времени, можно заказать у нас эту услугу не выходя из дома, т.е. Вы просто присылаете нам информацию о создаваемом ООО, или заполняете анкету, а мы готовим для Вас документы.<br><br>
        <strong>Вот перечень предоставляемых Нами услуг, связанных с регистрацией ООО, а именно:</strong><em><br><br>
        - консультации по вопросам создания и регистрации ООО<br>
        - подготовка комплектов документов для регистрации ООО<br>
        - государственная регистрация ООО в МИФНС<br>
        - постановка на учет в ИФНС<br>
        - присвоение кодов Статуправления для ООО<br>
        - изготовление печати/штампа для ООО<br>
        - постановка на учет в государственных внебюджетных фондах (Пенсионном фонде РФ, Фонде обязательного медицинского страхования, Фонде социального страхования)<br><br>
        </em>
        В зависимости от Вашего желания и наличия свободного времени, мы можем оказать услугу: регистрация ООО либо просто путем составления документов, либо путем составления документов и полного сопровождения процедуры регистрация ООО, также изготовим печать, штамп в соответствии с Вашими пожеланиями к форме и дизайну.<br>
        В случае обращения в Нашу Компанию по вопросу регистрация ООО Вы получаете несколько преимуществ:<em><br><br>
        - снижение Ваших расходов, связанных с регистрацией ООО;<br>
        - оперативность оказания услуги регистрация ООО (начинаем работу сразу после того, как Вы обратитесь с такой просьбой через интернет или отправив нам письмо на электронную почту.<br>
        - учредительные документы подготовленные в Нашей компании максимально защитят Ваши интересы, уберегут Ваше предприятие от чужого поглощения, распространенного сейчас рейдерства.<br>
        </em>
    </h4>
</div>
<hr>

<div id="else">
    <h2><strong> ДРУГОЕ </strong></h2>
    <br>
    <h4> Кроме того наша компания предоставляет услуги бесплатной консультации.<br>
        <em>Оставьте заявку, мы ответим на все ваши вопросы!</em></h4>
    <br>
    <a role="button" href="submit" class="btn btn-success lg" style="width: 500px; height: 40px;"> Оставить заявку </a>
</div>

{% endblock %}