{% extends "header.html" %}

{% block content %}
<h1 align="center" style="color: red; padding-top: 20px; padding-bottom: 10px;"> Заполните анкету </h1>
<form method="post">
    <label for="fio"> Фамилия Имя Отчество </label>
    <div class="form-group">
        <input type="text" class="form-control is-invalid" id="fio" placeholder="Введите своё ФИО" name="fio" required>
    <label for="email">Почта</label>
    <input type="email" class="form-control is-invalid" id="email" name="email" aria-describedby="emailHelp" placeholder="Введите Вашу почту" required>
    <small id="emailHelp" class="form-text text-muted">На эту почту мы отправим вам ответ</small>
    <label for="phone"> Введите свой номер телефона (необязательно)</label>
        <input type="phone" class="form-control" id="phone" name="phone" placeholder="Ваш телефон">
    <label for="type">Выберите тип услуги:</label>
    <select class="form-control" id="type" name="type">
      <option>Внесение изменений</option>
      <option>Реорганизация ООО</option>
      <option>Ликвидация</option>
      <option>Регистрация ИП</option>
      <option>Регистрация юр. лица</option>
      <option>Регистрация ООО</option>
      <option>Другое</option>
    </select>
        <h1> &nbsp; </h1>
        <textarea class="form-control" rows="5" id="comment" name="comment" placeholder="Дополнительная информация, если она необходима"></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>

{% endblock %}